@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    height: 100vh;
    background-color: #6e6e6e;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    width: 50%;
    background-color: #ffffff;
    height: 6px;
    text-align: center;
    border-radius: 6px;
    margin-top: 1rem;
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
}